AdaptiveSkipAlternate = 0
AdaptiveSkipInitial = 120
AdaptiveSkipPrevNext = 0
AdaptiveSkipTimeout = 3
AlwaysSortFoldersFirst = 1
AntiAlias = 1
AudioLanguages = 
ChannelEntryTimeout = 1000
ChannelInfoPos = 0
ChannelInfoTime = 5
ChannelsWrap = 0
ColorKey0 = 0
ColorKey1 = 1
ColorKey2 = 2
ColorKey3 = 3
CurrentChannel = 1
CurrentDolby = 0
CurrentVolume = 255
DefaultLifetime = 99
DefaultPriority = 50
DelTimeshiftRec = 0
DeviceBondings = 
DiSEqC = 0
DisplaySubtitles = 0
EmergencyExit = 1
EPGBugfixLevel = 3
EPGLanguages = 
EPGLinger = 0
EPGScanTimeout = 5
FoldersInTimerMenu = 1
FontFix = Courier:Bold
FontFixSize = 17
FontFixSizeP = 0.030000
FontOsd = Sans Serif:Bold
FontOsdSize = 18
FontOsdSizeP = 0.031000
FontSml = Sans Serif
FontSmlSize = 16
FontSmlSizeP = 0.028000
InitialChannel = 
InitialVolume = -1
InstantRecordTime = 180
LnbFrequHi = 10600
LnbFrequLo = 9750
LnbSLOF = 11700
MarginStart = 2
MarginStop = 10
MarkInstantRecord = 1
MaxVideoFileSize = 2000
MenuKeyCloses = 0
MenuScrollPage = 1
MenuScrollWrap = 0
MinEventTimeout = 30
MinUserInactivity = 300
MultiSpeedMode = 0
NameInstantRecord = TITLE EPISODE
NextWakeupTime = 0
NumberKeysForChars = 1
OSDAspect = 1.422222
OSDHeight = 484
OSDHeightP = 0.840000
OSDLanguage = 
OSDLeft = 58
OSDLeftP = 0.080000
OSDMessageTime = 1
OSDSkin = lcars
OSDTheme = default
OSDTop = 46
OSDTopP = 0.080000
OSDWidth = 624
OSDWidthP = 0.870000
PauseAtLastMark = 0
PauseKeyHandling = 2
PauseLifetime = 1
PauseOnMarkJump = 1
PauseOnMarkSet = 0
PausePriority = 10
PositionerLastLon = 0
PositionerSpeed = 15
PositionerSwing = 650
PrimaryDVB = 2
ProgressDisplayTime = 0
RcRepeatDelay = 300
RcRepeatDelta = 100
RecordingDirs = 1
ResumeID = 0
SetSystemTime = 0
ShowChannelNamesWithSource = 0
ShowInfoOnChSwitch = 1
ShowRemainingTime = 0
ShowReplayMode = 0
SiteLat = 0
SiteLon = 0
SkipEdited = 0
SkipSeconds = 60
SkipSecondsRepeat = 60
SplitEditedFiles = 0
StandardCompliance = 0
SubtitleBgTransparency = 0
SubtitleFgTransparency = 0
SubtitleLanguages = 
SubtitleOffset = 0
SVDRPTimeout = 300
TimeoutRequChInfo = 1
TimeSource = 
TimeTransponder = 0
UpdateChannels = 5
UseDolbyDigital = 1
UsePositioner = 0
UseSmallFont = 1
UseSubtitle = 1
UseVps = 0
VideoDisplayFormat = 1
VideoFormat = 0
VolumeLinearize = 0
VolumeSteps = 51
VpsMargin = 120
ZapTimeout = 3
pvrinput.AspectRatio = 2
pvrinput.AudioBitrate = 10
pvrinput.AudioSampling = 1
pvrinput.AudioVolumeFM = 65535
pvrinput.AudioVolumeTVCommon = 62258
pvrinput.AudioVolumeTVException = 62258
pvrinput.AudioVolumeTVExceptionCard = 8
pvrinput.BitrateMode = 0
pvrinput.Brightness = 128
pvrinput.Contrast = 64
pvrinput.FilterChromaMedianBottom = 0
pvrinput.FilterChromaMedianTop = 255
pvrinput.FilterChromaSpatialType = 1
pvrinput.FilterLumaMedianBottom = 0
pvrinput.FilterLumaMedianTop = 255
pvrinput.FilterLumaSpatialType = 1
pvrinput.FilterMedianType = 0
pvrinput.FilterSpatial = 0
pvrinput.FilterSpatialMode = 0
pvrinput.FilterTemporal = 8
pvrinput.FilterTemporalMode = 0
pvrinput.HDPVR_AudioInput = 0
pvrinput.HideMainMenuEntry = 1
pvrinput.Hue = 0
pvrinput.LogLevel = 2
pvrinput.Saturation = 64
pvrinput.SliceVBI = 1
pvrinput.StreamType = 0
pvrinput.TunerAudioMode = 1
pvrinput.UseExternChannelSwitchScript = 0
pvrinput.UseOnlyCard = 8
pvrinput.VideoBitrateTV = 6000
